<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<header>
			<h1>簡易的な会計システム♪</h1>
		</header>
		<main class="page">
			<h2>検索結果♪</h2>
			<table border="1">
	  			<tr>
	  				<td>番号</td>
	  				<td>日付</td>
	  				<td>社名</td>
	  				<td>金額</td>
	  				<td>個人名</td>
	  				<td>件名</td>
	  			</tr>
	  			<tr th:each="result : ${ResultForm}" th:object="${result}">
	  				<td th:text="*{number}"></td>
			     	<td th:text="*{date}"></td>
			     	<td th:text="*{company}"></td>
			     	<td th:text="*{money}"></td>
			     	<td th:text="*{personName}"></td>
			     	<td th:text="*{subject}"></td>
	  			</tr>
	  		</table>
	  		
	  		<h2>削除</h2>
	  		<form method="post" th:action="@{/home/select/delete/tax}" th:object="${DeleteForm}">
	  			<p>削除する行の番号<input type="text" name="number" /></p>
	  			<p><input class="submit" type="submit" value="削除" /></p>
	  		</form>
	  	</main>
	</body>
</html>