<!DOCTYPE html>

<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>簡易的な会計システム♪</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<header>
			<h1>簡易的な会計システム♪</h1>
		</header>
		<main class="page">
			<h2>取引先の登録</h2>
			<form th:action="@{/insert/company/do}" th:object="${InsertCompanyForm}" method="post">
				<p>会社名: <input type="text" name="name" /></p>
				<input type="checkbox" name="isNext" th:value="${true}">続けて登録する</input>
				<input class="submit" type="submit" value="登録" />
			</form>
		</main>
	</body>
</html>